body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bg1 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaoBwLeHJFRkIQh9yZpiaIcoerjTY5wsivnLnCC2EcFw&s=10");
}

.bg2 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLxqC_I4foda9mPRgVe7k0-y9h1E9eNv5M912VzQE1hXNX3Etnvfc_H9fJ&s=10");
}

.text {
  color: white;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
}

.black-block {
  height: 300px;
  background-color: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}